body {
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.app-container {
  display: flex;
  flex-direction: column;
  height: 90vh;
  width: 80vw;
  border-radius: 12px;
  overflow: hidden;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  background-color: white;
}

.header {
  text-align: center;
  padding: 20px;
  background-color: #3498db;
  color: white;
  border-radius: 0px;
  margin-bottom: 0px;
}

.header h1 {
  margin: 0;  
}

.welcome-message {
  margin: 5px 0 0 0; 
  font-size: 18px;  
}

.chat-content {
  display: flex;
  flex: 1;
  overflow: hidden;
}

.user-list-container {
  width: 25%;
  background-color: #0056b3; 
  color: white;
  padding: 10px;
  box-sizing: border-box;
  overflow-y: auto;
  border-bottom-left-radius: 12px;
}

.user-list-container h3 {
  margin: 0 0 10px 0;
  font-size: 18px;
}

.user-list-container ul {
  list-style: none;
  padding: 0;
}

.user-list-container li {
  padding: 10px;
  border-bottom: 1px solid #004494; 
  cursor: pointer;
  border-radius: 4px;
}

.user-list-container li:hover {
  background-color: #004494; 
}

.user-list-container li:last-child {
  border-bottom: none;
}

.chat-container {
  width: 75%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 10px;
  box-sizing: border-box;
  border-bottom-right-radius: 12px;
}

.join-chat {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: #ecf0f1;
}

.join-chat-box {
  background-color: white;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  text-align: center;
}

.join-chat input {
  padding: 10px;
  margin-bottom: 10px;
  width: 100%;
  max-width: 300px;
  box-sizing: border-box;
  border-radius: 4px;
  border: 1px solid #bdc3c7;
}

.join-chat button {
  padding: 10px 20px;
  background-color: #007bff; 
  color: white;
  border: none;
  cursor: pointer;
  border-radius: 4px;
}

.join-chat button:hover {
  background-color: #0056b3; 
}

.error-message {
  color: red;
}

.message-input-container {
  display: flex;
  justify-content: space-between;
  padding: 10px;
  background-color: #f0f0f0;
  border-top: 1px solid #bdc3c7;
}

.message-input-container input {
  flex: 1;
  padding: 10px;
  margin-right: 10px;
  box-sizing: border-box;
  border: 1px solid #bdc3c7;
  border-radius: 4px;
}

.message-input-container button {
  padding: 10px 20px;
  background-color: #007bff; 
  color: white;
  border: none;
  cursor: pointer;
  border-radius: 4px;
}

.message-input-container button:hover {
  background-color: #0056b3; 
}

.message-list-container {
  flex: 1;
  overflow-y: auto;
  padding: 10px;
  background-color: white;
  border: 1px solid #bdc3c7;
  border-radius: 4px;
  margin-bottom: 10px;
  display: flex;
  flex-direction: column;
}

.message-list-container h3 {
  margin: 0 0 10px 0;
}

.message-list {
  list-style: none;
  padding: 0;
  margin: 0;
  flex: 1;
}

.message-list li {
  padding: 10px;
  margin-bottom: 10px;
  border-bottom: 1px solid #ecf0f1;
  display: flex;
  flex-direction: column;
  max-width: 100%;
}

.message {
  padding: 10px;
  border-radius: 4px;
  margin-bottom: 10px;
  max-width: 100%;
  word-wrap: break-word;
}

.message.sent {
  background-color: #b8c4ed ; 
  align-self: flex-end;
  text-align: right;
}

.message.received {
  background-color: #9aa6e5; 
  align-self: flex-start;
  text-align: left;
}
.user-list-container li {
  padding: 10px;
  border-bottom: 1px solid #407fc3;
  cursor: pointer;
  border-radius: 4px;
  display: flex;
  justify-content: space-between; 
}

.user-list-container li:hover {
  background-color: #004494; 
}

.new-message-alert {
  background-color: #ff6b6b; 
  color: white;
  padding: 5px 10px;
  border-radius: 5px;
  font-size: 12px;
  margin-left: 10px; 
}
.chat-header {
  background-color: #f0f0f0;
  padding: 10px;
  border-bottom: 1px solid #ccc;
  border-radius: 26px 26px 0 0;
  text-align: center; /* Centrar el texto */
}

.chat-header-text {
  font-size: 1.2em; /* Tamaño de fuente más grande */
}

